{% extends "base.html" %}

{% block title %}Publiczne Notatki{% endblock %}

{% block content %}
<h1>Publiczne Notatki</h1>
<div class="notes-container">
    {% for note in notes %}
        <div class="note">
            <div class="note-content">{{ note.content|safe }}</div>
            {% if note.author %}
                <small>Autor: {{ note.author.username }}</small>
            {% endif %}
            <small>Utworzono: {{ note.created_at.strftime('%Y-%m-%d %H:%M') }}</small>
            <small>Zmodyfikowano: {{ note.updated_at.strftime('%Y-%m-%d %H:%M') }}</small>
        <div class="note-signature-status">
                {% if note.is_signature_valid is not none %}
                    {% if note.is_signature_valid %}
                        <span class="text-success">Podpis zweryfikowany</span>
                    {% else %}
                        <span class="text-danger">Podpis nieprawidłowy</span>
                    {% endif %}
                {% else %}
                    <span class="text-warning">Brak podpisu</span>
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
